@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Asap;
    src: url("../fonts/Asap-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: InterExtraBold;
    src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: InterRegular;
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: PoppinsBold;
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}