.profileBox {
    box-shadow: 0 18px 50px -12px #615ef0;
}

.navbarButton:hover svg path {
    @apply stroke-2 stroke-primary transition
}

.contactsScroll::-webkit-scrollbar {
    @apply w-0
}

.nav-link-mobile:hover {
    @apply bg-indigo-300 text-white transition-all
}

.nav-link-mobile.active {
    @apply bg-indigo-500 text-white
}

.nav-link.active {
    @apply text-primary font-Inter
}

.triangle {
    border-right: 0.75rem solid transparent;
    border-left: 0.75rem solid transparent;
    border-top: 0.75rem solid #fff;
}