@import "tailwindcss";

@theme {
  --color-primary: #615ef0;
  --color-secondary: #efeffd;
  --color-customGray: #f1f1f1;
  --color-primaryText: #1e2531;
  --color-customGrayText: #383a47;

  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-asap: var(--font-asap);
}

html {
  font-family: var(--font-inter);
}
